h2{
    border: 2PX solid red;
    padding-left: 80px;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
}
#p1{
    border-style: double;
}
#p2{
    border-style: inset;
}
#p3{ 
    border-style: dotted dashed solid double;
}